.autocomplete-city-container{
    width: 30vw;
    margin: auto;
}
.autocomplete-body-container{
    width: 35vw;
}
.autocomplete-suggestions-list{
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
}
.autocomplete-suggestions-item{
    color: rgb(202, 206, 204);
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;   
}
.autocomplete-suggestions-item:hover{
    background-color: rgba(255,255,255,0.1);
}
.autocomplete-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);

    color:rgba(255,255,255,0.5);
   
    background-color: rgba(0,0,0,0.05);

    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    border-radius: 5px;
    /* font-size: 16px; */
    outline: none;
}