@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto';
  color: rgb(202, 206, 204);
  background-color: rgb(42, 42, 42);
  overflow-x: hidden;
}
p{
  color: rgb(219, 227, 222);
}
main{
  margin-bottom: 1%;
}
hr{
  margin-top: 0%;
  margin-bottom: 1%;
  border-color:rgb(42, 42, 42);
}

.buttonContainer{
  margin-bottom: 1%;
}
.dataSeparator{
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: center;
  
}
.starInfo{
  float:left;
  margin-top: 5%;
  margin-bottom: 4%;
  min-width: 40%;
  padding-left: 7%;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: rgb(42,42,42);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
}

.scatterplot{
  width: 40vw;
  margin-bottom: 6%;
  float:left;
}
.button {
  margin-bottom: 1%;
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  background-color: rgb(42, 42, 42);
  border-radius: 7px;
  border: 1px solid rgb(112, 112, 104);
  color: rgb(202, 206, 204);
  text-align: center;
  padding: 2px;
  margin-right: 0.25%;
  min-width: 50px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
