@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto';
}
main{
  margin-bottom: 1%;
}
.dataSeparator{
  margin-bottom: 3%;
}

.rippleButton {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  border: 1px solid white;
  color: black;
  text-align: center;
  padding: 2px;
  margin-right: 0.25%;
  min-width: 50px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
